---
import SocialIcons from './SocialIcons.astro'
import { profile } from '@/settings'

interface Props {
  fullName: string;
  title: string;
  institute?: string;
  profilePicture: string;
}

const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1 text-center lg:text-left'>
  <h1 class='text-4xl font-bold mb-4'>
    {fullName}
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>
    {profile.bio}
  </p>
  <div class='flex gap-4 justify-center lg:justify-start'>
    <SocialIcons />
  </div>
</div>
<div class='size-40 lg:size-72 shrink-0'>
  <img
    src={profilePicture}
    alt={fullName}
    class='w-full h-full mask mask-circle object-cover'
  />
</div>
